@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';

.submit-btn{
  background: #fff;
  color: #333;
  text-align: center;
  font-family: inherit;
  text-transform: uppercase;
  margin: 10px auto;
  border-radius: 4px;
  padding: 10px 15px;
  width: 180px;
}

.addProfilePicture{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: solid 3px #03a9f4;
  position: relative;
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  margin: auto;
}
.addProfilePicture span{
  color: #333;
  margin: auto;
  text-align: center;
  position: absolute;
  left: 0;
  right:0;
  top:45px;
  bottom:0;
  font-size: 40pt;
}
.addProfilePicture img{
  width: auto;
  height: 100%;
  background: #f8f8f8;
  margin: auto;
  text-align: center;
  position: absolute;
  left: 0;
  right:0;
  bottom:0;
}
.signUpContainer{
  padding: 10px;
  overflow: hidden;
}
.signUpContainer hr{
  height: 2px;
  background: #f8f8f8;
  border: none;
  margin-top: 0;
}
.super-crazy-colors{
  color: #fff !important;
}
.logo{
  margin: auto;
  text-align: center;
  max-width: 200px;
}
.dummyContainer{
  height:350px;
  width:auto;
  position: relative;
}
.actions {
  text-align: center;
  background: #fff !important;
}
.camera:hover{
  background: transparent !important;
}
.dummy {
    width: 100%;
    position: absolute;
    height: auto;
    top: 0;
    margin: auto;
    left: 0;
}
h3{
  font-family: 'Lato',sans-serif !important;
  color: #fff;
  font-weight: 700;
  margin: auto;
  text-align: center;
}
h4{
  font-family: 'Cabin',sans-serif !important;
  color: #fff;
  font-weight: 400;
  margin: auto;
  text-align: center;
}

.customInputField{
    border: none;
    background: transparent;
    padding: 4px 4px 0 0;
    width: 350px;
    font-weight: 700;
    font-size: 1.2em;
    margin: 10px 0;
    color: #fff;
}
p{
  color: #fff;
  margin: auto;
}
.image{
  margin: auto;
  max-width: 70%;
  text-align: center;
  margin-top: 20px;
}
.testing{
  margin: auto;
  text-align: center;
  font-size: 14px;
  color: #fff;
}
h2 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 48px;
    margin-top: 24px;
    margin-bottom: 24px;
    color: #fff;
}
.customInputField::placeholder{
  font-weight: 600;
  font-size: 1.2em;
}
.customInputField:focus {
    border: none;
    outline: none;
}
.inputFields{
  text-align: center;
}
.result{
  text-align: center;
  margin: 150px auto;
  font-size: 32px;
  color: #fff;
  font-family: 'Lato', sans-serif;
}
